In [1]:
numbers = [20, 10, 5, 25, 15]
numbers[::-1]

[15, 25, 5, 10, 20]

In [2]:
print (numbers)

for x in numbers:   
    print (x*x)

#for variable in sequence    
squares = [x*x for x in numbers]
print (squares)

[20, 10, 5, 25, 15]
400
100
25
625
225
[400, 100, 25, 625, 225]

In [3]:
# Create a function that accepts a list and returns Squares of the numbers
def list_squares(input_list):
    print("Input List is:", input_list)
    return_val = [x*x for x in input_list]
    return return_val

list_squares(numbers)

Input List is: [20, 10, 5, 25, 15]

[400, 100, 25, 625, 225]

In [4]:
sorted_list = sorted(numbers, reverse=True)
sorted_list

[25, 20, 15, 10, 5]

In [5]:
max(numbers), min(numbers), sum(numbers), len(numbers)

(25, 5, 75, 5)

In [6]:
for i in range(0, 5, 1): # start, end(excluded), step
    print(numbers[i])

20
10
5
25
15

In [7]:
for i in range(0, 20, 1):
    if (i % 2 != 0):
        print(f"Odd: {i}")
    else:
        print(f"Even: {i}")

Even: 0
Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Odd: 7
Even: 8
Odd: 9
Even: 10
Odd: 11
Even: 12
Odd: 13
Even: 14
Odd: 15
Even: 16
Odd: 17
Even: 18
Odd: 19

In [8]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
	print(fruit)

apple
banana
cherry

In [9]:
for char in "Python":
	print(char)

P
y
t
h
o
n

In [10]:
for i in range(5):  # From 0 to 4
	print(i)
for i in range(1, 10, 1):  # From 1 to 9 with step of 1
	print(i)

0
1
2
3
4
1
2
3
4
5
6
7
8
9